In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('data.csv')
df.head()

,id,acc_data_vintage,amazonpay_recency,amt_cash_wdl_c30,amt_cash_wdl_c7,amt_cash_wdl_m0,amt_cash_wdl_m1,amt_cash_wdl_m2,amt_cash_wdl_m3,amt_cash_wdl_p30,...,internet_acc0_av_balance_c60,internet_acc0_av_balance_c30,ewallet_perc,telco_perc,government_service_perc,consumer_businesses_perc,bank_perc,financial_services_perc,nbfc_digital_lender_perc,target
0,6.550540e+15,55.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.077982,0.775229,0.025229,0.000000,0.000000,0.000000,0.000000,0
1,6.550770e+15,34.0,NaN,NaN,NaN,NaN,60000.0,NaN,NaN,60000.0,...,NaN,NaN,0.030108,0.565591,0.008602,0.015054,0.034409,0.004301,0.019355,0
2,6.550830e+15,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.035176,0.231156,0.040201,0.030151,0.130653,0.010050,0.040201,0
3,6.550880e+15,28.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.000000,0.175000,0.025000,0.125000,0.025000,0.000000,0.000000,0
4,6.550890e+15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,715.0,715.0,0.000000,0.390244,0.000000,0.000000,0.000000,0.000000,0.000000,0

In [3]:
df.describe()

,id,acc_data_vintage,amazonpay_recency,amt_cash_wdl_c30,amt_cash_wdl_c7,amt_cash_wdl_m0,amt_cash_wdl_m1,amt_cash_wdl_m2,amt_cash_wdl_m3,amt_cash_wdl_p30,...,internet_acc0_av_balance_c60,internet_acc0_av_balance_c30,ewallet_perc,telco_perc,government_service_perc,consumer_businesses_perc,bank_perc,financial_services_perc,nbfc_digital_lender_perc,target
count,1.609600e+04,13789.000000,199.000000,5.879000e+03,3437.000000,4.226000e+03,4999.000000,3660.000000,2730.000000,4.121000e+03,...,1923.000000,1691.000000,12486.000000,12486.000000,12486.000000,12486.000000,12486.000000,12486.000000,12486.000000,16096.000000
mean,6.917172e+15,163.332874,32.768844,1.592589e+04,9416.999165,1.195172e+04,14641.249010,14323.591227,14603.214209,1.419293e+04,...,1190.542886,1222.663483,0.116508,0.355671,0.025857,0.039790,0.068300,0.029544,0.024118,0.008139
std,1.771371e+14,249.662269,37.979352,3.889183e+04,30666.082155,3.191787e+04,32091.783257,31217.006171,35597.116300,3.401990e+04,...,3801.297561,4034.498547,0.140830,0.223164,0.039751,0.057542,0.092045,0.047588,0.053991,0.089849
min,6.550510e+15,0.000000,0.000000,8.000000e+00,8.000000,8.000000e+00,9.000000,9.000000,10.000000,1.000000e+01,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.778798e+15,41.000000,6.000000,2.300000e+03,1000.000000,1.900000e+03,2000.000000,2000.000000,2000.000000,2.000000e+03,...,468.625000,497.555000,0.014460,0.177910,0.006757,0.004621,0.010572,0.000000,0.000000,0.000000
50%,6.954710e+15,108.000000,18.000000,7.100000e+03,4000.000000,5.557000e+03,6500.000000,6735.395000,6350.000000,6.788000e+03,...,710.970000,710.930000,0.064516,0.323944,0.015666,0.022727,0.039175,0.008645,0.003587,0.000000
75%,7.069720e+15,220.000000,47.000000,1.670000e+04,10000.000000,1.200000e+04,15761.800000,15000.000000,15000.000000,1.527000e+04,...,1024.000000,1024.000000,0.166667,0.505811,0.030559,0.052088,0.090909,0.040364,0.026316,0.000000
max,8.089780e+15,17685.000000,176.000000,1.107000e+06,949000.000000,1.034300e+06,720598.780000,875527.780000,827200.000000,1.335646e+06,...,75159.940000,75159.940000,1.000000,1.000000,0.880342,0.897373,1.000000,0.708020,1.000000,1.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16096 entries, 0 to 16095
Columns: 1062 entries, id to target
dtypes: bool(3), float64(1047), int64(7), object(5)
memory usage: 130.1+ MB

In [5]:
df.isnull().sum()

id                              0
acc_data_vintage             2307
amazonpay_recency           15897
amt_cash_wdl_c30            10217
amt_cash_wdl_c7             12659
                            ...
consumer_businesses_perc     3610
bank_perc                    3610
financial_services_perc      3610
nbfc_digital_lender_perc     3610
target                          0
Length: 1062, dtype: int64

In [6]:
df_bool=df.select_dtypes(include='bool')
df_bool.isnull().sum()

temp_net_banking_flag        0
temp_is_businessman          0
temp_debit_card_user_flag    0
dtype: int64

In [7]:
df_float=df.select_dtypes(include='float64')
df_float.isnull().sum()

id                              0
acc_data_vintage             2307
amazonpay_recency           15897
amt_cash_wdl_c30            10217
amt_cash_wdl_c7             12659
                            ...
government_service_perc      3610
consumer_businesses_perc     3610
bank_perc                    3610
financial_services_perc      3610
nbfc_digital_lender_perc     3610
Length: 1047, dtype: int64

In [8]:
df_int=df.select_dtypes(include='int64')
df_int.isnull().sum()

cnt_active_accounts_c90         0
cnt_ewallets_used               0
cnt_savings_accounts            0
cnt_unique_wallets_used         0
temp_cnt_savings_accounts       0
temp_cnt_active_accounts_c90    0
target                          0
dtype: int64

In [9]:
df_categorical=df.select_dtypes(include='object')
df_categorical.isnull().sum()

secondary_acc_bank             8547
temp_secondary_acc_bank        8316
temp_primary_acc_bank          2600
temp_primary_acc_acc_number    2600
primary_acc_bank               2695
dtype: int64

In [23]:
df.fillna(df.mean(), inplace=True)
df.head()

,id,acc_data_vintage,amazonpay_recency,amt_cash_wdl_c30,amt_cash_wdl_c7,amt_cash_wdl_m0,amt_cash_wdl_m1,amt_cash_wdl_m2,amt_cash_wdl_m3,amt_cash_wdl_p30,...,internet_acc0_av_balance_c60,internet_acc0_av_balance_c30,ewallet_perc,telco_perc,government_service_perc,consumer_businesses_perc,bank_perc,financial_services_perc,nbfc_digital_lender_perc,target
0,6.550540e+15,55.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.077982,0.775229,0.025229,0.000000,0.000000,0.000000,0.000000,0
1,6.550770e+15,34.000000,32.768844,15925.888323,9416.999165,11951.718443,60000.00000,14323.591227,14603.214209,60000.000000,...,1190.542886,1222.663483,0.030108,0.565591,0.008602,0.015054,0.034409,0.004301,0.019355,0
2,6.550830e+15,8.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.035176,0.231156,0.040201,0.030151,0.130653,0.010050,0.040201,0
3,6.550880e+15,28.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.000000,0.175000,0.025000,0.125000,0.025000,0.000000,0.000000,0
4,6.550890e+15,163.332874,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,715.000000,715.000000,0.000000,0.390244,0.000000,0.000000,0.000000,0.000000,0.000000,0

In [11]:
df_categorical

,secondary_acc_bank,temp_secondary_acc_bank,temp_primary_acc_bank,temp_primary_acc_acc_number,primary_acc_bank
0,NaN,NaN,syndicate bank,bank|syndicate bank|bank|33,syndicate bank
1,NaN,NaN,icici,bank|icici|bank|19,icici
2,NaN,NaN,bank of baroda,bank|bank of baroda|bank|47,bank of baroda
3,NaN,NaN,hdfc,bank|hdfc|bank|54,hdfc
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
16091,kotak,kotak,south indian bank,bank|south indian bank|bank|21,south indian bank
16092,yesbank,pnb,yesbank,bank|yesbank|bank|22,pnb
16093,NaN,NaN,bank of baroda,bank|bank of baroda|bank|49,bank of baroda
16094,sbi,sbi,sbi,bank|sbi|bank|70,sbi
16095,kotak,kotak,punjab and maharashtra cooperative bank,bank|punjab and maharashtra cooperative bank|b...,punjab and maharashtra cooperative bank

In [24]:
df['secondary_acc_bank'].fillna(df['secondary_acc_bank'].mode()[0], inplace=True)
df['temp_secondary_acc_bank'].fillna(df['temp_secondary_acc_bank'].mode()[0], inplace=True)
df['temp_primary_acc_bank'].fillna(df['temp_primary_acc_bank'].mode()[0], inplace=True)
df['temp_primary_acc_acc_number'].fillna(df['temp_primary_acc_acc_number'].mode()[0], inplace=True)
df['primary_acc_bank'].fillna(df['primary_acc_bank'].mode()[0], inplace=True)

In [25]:
df

,id,acc_data_vintage,amazonpay_recency,amt_cash_wdl_c30,amt_cash_wdl_c7,amt_cash_wdl_m0,amt_cash_wdl_m1,amt_cash_wdl_m2,amt_cash_wdl_m3,amt_cash_wdl_p30,...,internet_acc0_av_balance_c60,internet_acc0_av_balance_c30,ewallet_perc,telco_perc,government_service_perc,consumer_businesses_perc,bank_perc,financial_services_perc,nbfc_digital_lender_perc,target
0,6.550540e+15,55.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.077982,0.775229,0.025229,0.000000,0.000000,0.000000,0.000000,0
1,6.550770e+15,34.000000,32.768844,15925.888323,9416.999165,11951.718443,60000.00000,14323.591227,14603.214209,60000.000000,...,1190.542886,1222.663483,0.030108,0.565591,0.008602,0.015054,0.034409,0.004301,0.019355,0
2,6.550830e+15,8.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.035176,0.231156,0.040201,0.030151,0.130653,0.010050,0.040201,0
3,6.550880e+15,28.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.000000,0.175000,0.025000,0.125000,0.025000,0.000000,0.000000,0
4,6.550890e+15,163.332874,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,715.000000,715.000000,0.000000,0.390244,0.000000,0.000000,0.000000,0.000000,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16091,7.766730e+15,138.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.045896,0.279788,0.007061,0.039718,0.067079,0.080318,0.043248,0
16092,7.772870e+15,354.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.164474,0.217105,0.078947,0.026316,0.085526,0.000000,0.059211,0
16093,7.874680e+15,413.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.676955,0.164609,0.014403,0.002058,0.026749,0.016461,0.000000,0
16094,8.053890e+15,72.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.114286,0.114286,0.057143,0.057143,0.042857,0.071429,0.100000,0
16095,8.083550e+15,25.000000,32.768844,15925.888323,9416.999165,11951.718443,14641.24901,14323.591227,14603.214209,14192.925875,...,1190.542886,1222.663483,0.086758,0.200913,0.013699,0.059361,0.191781,0.086758,0.086758,0

In [26]:
df.isnull().sum().sum()

0

In [27]:
df.to_csv('new_data.csv')